[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-wtf = "*"
wtforms = "*"
flask-bootstrap = "*"
email-validator = "*"
supabase = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
